<div class="container" style="text-align: center; width: 700px;">
  <h1>Probation Project: ArtList</h1>
  <h4>Phoebe Duff</h4>
  <div class="child-container" style="display: inline-block; text-align: left;">
  <p>This project has been made to demonstrate my knowledge on the technologies used within Vitic (Spring Boot and Angular). </p>
  <p>List of technologies and how they have been used within this project:</p>
  <ul>
      <li><b>SQLite:</b> An SQLite database has been created due to ease, it consists of two tables, one containing records of Artists, and the other containing records of Artworks</li>
      <li><b>Spring Boot:</b> Has been used for the backend of the web application</li>
      <li><b>Angular:</b> Has been used for the frontend of the web application, currently only uses one module, but am hoping to move my navbar to a new module or perhaps split it up based on artist/artwork</li>
      <li><i>Something about testing down here when I get around to it</i></li>
  </ul>
  </div>
</div>